%h1 Manage Leagues

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th Name
    %th Server
    %th Delete

  - @leagues.each do |league|
    %tr
      %td
        = link_to league.name, league_path(league)
      %td= league.server.name
      %td= link_to "Delete", league_path(league), :method => :delete