%h1 Create Leagues

= form_for @league, :html => {:class => "form-horizontal"} do |f|

  .control-group
    %label.control-label
      Server
    .controls
      = f.select(:server_id, options_from_collection_for_select(@servers, :id, :name))

  .control-group
    %label.control-label
      Name
    .controls
      = f.text_field :name

  .actions
    = f.submit "Submit"


