%h1 Edit Tier

= form_for @tier, :html => {:class => "form-horizontal"} do |f|
  .control-group
    %label.control-label
      Name
    .controls
      = f.text_field :name
    %label.control-label
      Position
    .controls
      = f.number_field :tier_hierarchy_position

  .control-group
    .controls
      = f.submit :submit