%h2 Manage registrations

%h3 Unsorted Players

%table.table.table-condensed.table-bordered.table-hover
  %tr
    %th Name
    %th Manage Structure
    %th Manage Players
    %th Manage Rules
    %th Type
    %th Server