      .nav-collapse
        %ul.nav
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}}
              Messages
              %span.badge.badge-info
                100
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"}
                  Message 1
              %li
                %a{:href => "#"}
                  Another message
              %li
                %a{:href => "#"}
                  Something else message
              %li.divider
                %a{:href => "#"}
              %li
                %a{:href => "#"}
                  Older messages...

          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :data => {:toggle => "dropdown"}}
              Settings
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"}
                  Personal Info
              %li
                %a{:href => "#"}
                  Preferences
              %li
                %a{:href => "#"}
                  Alerts
              %li
                %a{:href => "#", :class => "cookie-delete"}
                  Delete Cookies

          %li
            %a{:href => "#"}
              Help