%form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
  %input{type: "hidden", name: "cmd", value: "_s-xclick"}
  %input{type: "hidden", name: "hosted_button_id", value: "VLVHYKRR9UALJ"}
  %input{type: 'hidden', name: 'submit'}
  %button{type: 'submit', class: 'btn btn-warning btn-large'}
    Donate&nbsp;
    %i.icon-heart
    +
    %i.icon-sitemap
  %img{alt: "", border: "0", src: "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width: "1", height: "1"}