- if current_user
  .member-box.round-all
    %a
      = image_tag "member_ph.png", :class => "member-box-avatar"
    %span
      %strong User
      %br
      = current_user.email
      %br
      %span.member-box-links
        %a Settings
        :plain
          <span> | </span>
        = link_to "Logout", logout_path, id: "logout"


.sidebar-nav
  .well{:style => "padding: 8px 0;"}
    %ul.nav.nav-list
      %li.nav-header
        Main
      %li
        = link_to tournaments_path do
          %i.icon-circle
          Tournaments
      %li
        %a{:href => "#"}
          %i.icon-user
          Members
      %li
        %a{:href => "#"}
          %i.icon-comment
          Comments
      %li
        %a{:href => "#"}
          %i.icon-picture
          Gallery
      %li
        %a{:href => "#"}
          %i.icon-calendar
          Calendar
      %li.nav-header
        Typography
      %li
        %a{:href => "#"}
          %i.icon-font
          Typography
      %li
        %a{:href => "#"}
          %i.icon-th-large
          Grid
      %li
        %a{:href => "#"}
          %i.icon-th
          Portlets
      %li
        %a{:href => "#"}
          %i.icon-th
          Forms
