.row-fluid
  .span6
    .control-group
      %label.control-label
        Name
      .controls
        = f.text_field :name
      %label.control-label
        Tier Hierarchy Position
      .controls
        = f.number_field :index

