%h1 Leagues

- if @leagues.empty?
  %p Sorry, there are currently no leagues.
- else
  %table.table.table-condensed.table-bordered.table-hover
    %tr
      %th Name
      %th Participants
    - @leagues.each do |league|
      %tr
        %td= league.name
        %td= league.accounts
