- @title << "FAQ"

%h3 What is the ASR?

%p The Advanced Study Room is a community dedicated to the enjoyment and promotion of go. The ASR is brings go players from all over the world, from all walks of life, closer together and offers a supportive and friendly environment to play, study, and make new friends. It is run by a group of volunteers who are constantly working to provide the best internet go experience.

%h3 What is the ASR League?

%p The ASR league is a monthly tournament for players of all levels who want to play serious games and improve. The league provides a pyramid structure of classes from alpha at the top to delta at the bottom. A clever point system rewards activity as well as winning, giving an incentive to everyone to be as involved as possible. By placing high enough in your class you can promote to the next higher level. All games are even (no handicap) which gives weaker players the valuable opportunity to play stronger players. Games in the ASR should be played slowly, and reviewing afterwards is strongly encouraged.

%h3 How do I join?

%p
  %ol
    %li
      Create an account here:
      = link_to "Signup", new_user_path
    %li
      Visit the
      = link_to "leagues page", leagues_path
      and join the event of your choosing.
    %li
      An admin will process your registration and assign you to an appropriate division.

%h3 Is there a fee?

%p No, Signing up and playing in the league are absolutely free.

%h3 How do I play league games?

%p League games are played in the Advanced Study Room on KGS. See the rules for suggested time settings. Only games played against members of the same class are counted in the results. You can play them anytime you find an opponent. At least one of the players must write “#ASR league” in the chat during the first 30 moves of the game. This tag assures that the automated system finds the game, and that the results are counted.  If both players forget, please contact an admin who will add the game manually.

%h3 Are there a minimum number of games to play per month?

%p Yes, you have to play at least 4 games each month. If you have played less than 4 games at the end of the month, you will be taken out of the league. You can however still sign up for next month, but you will have to start back in the bottom class again.
How do the promotions / demotions work?

%p Each month, the top players of a class are promoted to the next higher class, and those on the bottom will be demoted one class lower. The number of players promoted and demoted varies from class to class, since we have more players in the bottom classes than in the top ones.
%p Note: The players to be demoted are the bottom players remaining in the class AFTER the inactive players have been removed.

%h3 What if two players have the same score?

%p The admins pick the winner based on:
%ol
  %li The players record against each other
  %li The overall win ratio
%p If the players are still tied, the admins will decide whether both players will stay in their class or be promoted/demoted together.

%h3 Are there any prizes? If so, who are the sponsors?

%p Yes there are. We try to find sponsors every month to offer teaching games. We rely on sponsors for prizes; if there are no sponsors, there will be no prizes.
%p Possible prizes:
%ol
  %li a teaching game with a low/mid dan player
  %li audio go lessons from Guo Juan’s Internet Go School
  %li ?!

%h3 Can I change my nickname to X?

%p You can change your nickname, but only for the next month.  This is because the game results are tied to the nicknames, and also to prevent confusion in the league.

%h3 What if someone escapes or is otherwise rude?

%p Generally ASR players have no reason to escape, and you should wait 5 mins for them to return. If however they later refuse to resume, or if your opponent is rude, please talk to an admin to clear up the problem. It is important for the league to maintain a friendly atmosphere and bad behavior is not acceptable.

%h3 How do I quit the league?

%p You can quit anytime, but we can’t remove you from the current month if you’ve already played any games, because that would also affect the results of your past opponents.

%p To quit, visit your profile page and click the "quit event" button next to the event you're registered for.

%h3 I have a complaint, question or suggestion. How can I submit it?

%p You can use the Life in 19×19 forum or just contact one of the admins.

%h3 How can I help?

%p The League is always looking for players who help foster a community spirit, and if you make sure the atmosphere in the room and in your games is sporty and friendly, you are already helping. It is also great if you review the games you have played to help the weaker players. Also, you can help by telling your friends about the ASR.

%p If you want to do more than that, you could donate a prize to the ASR league, like a teaching game for a class winner, a KGS+ subscription, a go book, or whatever you like.
%p Last, but not least, giving the admins some feedback is probably one of the best ways to help. We are delighted to work on better structures, but… we can only do it if you let us know what needs to be improved. Tell us what‘s on your mind – we are doing this for you. Thanks!