- @body_class << 'home'
- @title << 'Welcome to the Advanced Study Room'

= report_bug_alert

- if @posts
  - @posts.each do |post|
    .box
      %h3= post.title
      %h4= post.date.strftime('%d-%m-%Y')
      = markdown_to_html(post.html)
