- @title << "Rules"

%h3 Match rules

%p Game details: All games are even (no handicap, nigiri) 19×19 games, played with 6.5 points komi and the Japanese ruleset.
Time Settings: 25 to 45 minutes main time, + 5 x 30 seconds byo yomi.
%p Type: Free. Players can agree to other types except for “Private” (which cannot be counted). It’s possible to play Free, Rated and Simul.
%p Room: Games must be played in Advanced Study Room (under Lessons).

%p You must play at least 4 games in a month to remain in the league, and can play each player in your class up to a maximum of 2 times in any given month.  One Player at least must write  “#ASR League” in the game chat within the first 30 moves!
It’s very important you do this. We have a script that checks for “#ASR league” every hour and adds league games to the results. If its not there, it won’t register as a league game!

%h3 League design

%p The tier/class system has a pyramid structure, and loosely looks like this: