# This file cotains the project settings for a server
# or development environment
development: &defaults
  # ==> Errbit Configuration
  # Errbit host and API keys for the application and
  # javascript
  errbit:
    host:           errbit.advancedstudyroom.com
    app:            "*******************************"
    js:             "*******************************"

  # ==> Google Analytics Configuration
  analytics:        UA-*********-**

  # ==> DB Backup Configuration
  # Configuration used by the rake db:backup task
  db_backup:
    enabled:        false
    path:           /dev
    keep:           7
    key:            "*******************************"
    secret:         "*******************************"

  # ==> Notifications Configuration
  # Sender's email for the app notifications.
  # Notifications are sent to the site users.
  # i.e. email verifications, , etc.
  notif_sender:     support@advancedstudyroom.com

  # ==> Alerts Configuration
  alerts:
    # Recipient's email for the app alerts
    # In a development environment all notifications/alerts
    # will be sent to this email address.
    recipient:      arturo@advancedstudyroom.com
    # Sender's email for the app alerts
    # Alerts are sent to the site admins.
    # i.e. new registrations
    sender:         alerts@advancedstudyroom.com

  # ==> Mailers Configuration
  # SMTP settings for the mailers
  smtp:
    domain:         advancedstudyroom.com
    address:        mail.advancedstudyroom.com
    port:           25
    username:       alerts@advancedstudyroom.com
    password:       "***************************"
    auth:           plain
    starttls_auto:  true

test:
  <<: *defaults
  db_backup:
    key:            shouldnotbevalid
    secret:         shouldnotbevalid

staging:
  <<: *defaults

production:
  <<: *defaults
  db_backup:
    enabled:        true
    path:           /
