#validationModal.modal.hide.fade{:tabindex => "-1", :role => "dialog", :aria => {:labelledby => "myModalLabel", :hidden => "true"}}
  .modal-header
    %h3#myModalLabel
      Validating games
  .modal-body
    %p Please wait...
